<div id="container">
    {% if nothing == True %}
        <h3>
            There are no orders
        </h3>
    {% else %}
        <table id="orders" class="sortable">
        <thead>
        <tr>
            <th class="sort-picture">
                Picture
            </th>
            <th class="sort-tag">
                Tag
            </th>
            <th class="sort-price">
                Price
            </th>
            <th class="sort-datetime">
                Datetime
            </th>
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td><a href="{% url 'order_detail' order.commodity.id %}">
                    <img src="{{ MEDIA_URL }}{{ order.commodity.picture }}"
                         alt="{{ MEDIA_URL }}{{ order.commodity.picture }}"/>
                </a>
                </td>
                <td>
                    {{ order.commodity.tag }}
                </td>
                <td>
                    ${{ order.commodity.price }}
                </td>
                <td>
                    {{ order.create_time|date:"Y-m-d H:i:s"  }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
</div>
