div.profile {
    width: 100px;
    height: 100px;
    overflow: hidden;
    right: 20px;
}

div.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#image img.img_cycle {
    width: 1200px;
}
